/**
 * Subject: WAP - Internet Applications
 * Project: Product filter (vyber zbozi)
 *  Author: Daniel Haris (xharis00)
 *    File: styles.css
 */

/***********************/
/* demo.html CSS rules */
/***********************/
body {
  font-family: 'Oxygen', sans-serif;
}
img {
  padding-left: 5px;
  width: 220px;
  height: 220px;
  float: left;
  margin: 0 15px 0 0;
}
.item {
  margin: 5px 0;
  width: 800px;
  height: 250px;
  border: 3px solid #eee;
  position: relative;
}
.item:hover {
  background: #eee;
}
.description {
  padding: 8px;
  font-size: 14px;
  text-align: justify;
}
.price {
  width: 100px;
  border-left: 3px solid #eee;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.onstock {
  padding-right: 5px;
  text-align: right;
}
.color-label {
  width: 50px;
  text-align: left;
}

/****************************/
/* Product Filter CSS rules */
/****************************/

/* container for filters */
/*** CUSTOMIZE CSS HERE ***/
#filter_entries {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  border-left: 2px solid black;
  padding: 10px;
}
/* 'string' filter CSS */
input[type=text] {
  width: 50%;
  padding: 12px 20px 12px 40px;
  margin: 3px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-size: 18px 18px;
  background-image: url('static/search.png');
  background-repeat: no-repeat;
  background-position: 12px 12px;
}
/* 'number' filter CSS */
input[type=number] {
  width: 100px;
  padding: 12px 15px 12px 15px;
  margin: 3px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
/* 'enum' filter CSS */
input[type=checkbox] {
  margin: 3px 0;
}
